
    h1{
    color:orangered;
    font-size: 60px;
    font-family:fantasy;
   
}
p{
    color:black;
    font-size:25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color:blue;
    font-size:25px;
}

